:root {
    --color-bg: rgb(26, 23, 33);
    --text-primary: rgb(255, 255, 255);
    --primary: rgb(244, 94, 255);
    --secondary: rgb(161, 152, 244);

    --card-bg1: rgb(44, 38, 57);
    --header-bg: rgb(26, 23, 33, 0.5);
    /* --card-bg3: TODO */
    ;
    /* padding: 0;
    margin: 0; */
}

@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}


html {

    font-family: "Quicksand";
    color: var(--text-primary);
    background-color: var(--color-bg);
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* ========== HEADER ========== */

header {

    background-color: var(--header-bg);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    /* height: 35px; */
}

.header-title {
    margin: 0px;
    padding: 7px;
    padding-left: 2vw;
    font-size: 25px;
    color: var(--secondary);
    font-weight: 600;


}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* position: absolute;
    top: 5;
    right: 5; */
}

.navbar>a {
    color: var(--secondary);
    font-weight: bold;
    font-size: 20px;
}



/* ========== MAIN ========== */

.homepage {
    margin: 2vw;
    margin-top: 30px;
}

@media only screen and (orientation: landscape) {
    .homepage-cards-container {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    .PHONE-pfp {
        display: none;
    }

    .homepage-cards {
        width: fit-content;
    }


}

@media only screen and (orientation: portrait) {
    .homepage-cards-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .pfp {
        display: none;
    }

    .PHONE-pfp {
        display: block;
        width: 32px;
        margin-left: 10px;
        border-radius: 5px;
    }

    .navbar {
        display: none;
    }



}

.homepage {
    margin-top: 60px;
}

/* General cards CSS */
.homepage-cards {
    background-color: var(--card-bg1);
    padding: 10px;
    border-radius: 12px;
    /* width: fit-content; */
    max-width: 96vw;

    /* box-shadow: 0 0 5px rgb(106, 101, 152); */

}

/* Specific to profile card */
.profile-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* flex: 1; */
}

/* The name part */
.card-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* Highliting name :3 */
.name-colorgradient {
    background-image: linear-gradient(to right, var(--secondary), var(--primary));
    color: transparent;
    font-weight: 700;
    background-clip: text;
}

.pfp {
    height: auto;
    max-width: 128px;
    /* resize: both; */
    /* height: 128px; */
    margin-right: 15px;
    /* Circular pfp */
    /* border-radius: 64px; */
    border-radius: 20px;
    align-self: center;
}

.about-me-list {
    padding-left: 22px;
    margin-right: 28px;
}

li {
    padding: 0px;
    padding-top: 5px;
    font-size: 20px;
    overflow-wrap: normal;
}

.email-text {
    color: var(--secondary);
    transition: color 0.17s;
}

.html5-icon {
    height: 20px;
    /* align-self: baseline; */
}

.email-text:hover {
    color: var(--primary);
}


/* ========== FOOTER ========== */

footer {
    /* display: block; */
    /* position: fixed; */
    bottom: 0;
    /* padding: 10px; */
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2px;
    border-top: solid var(--card-bg1);
    /* background-color: red; */
    width: 100%;
}

.github-label {
    padding: 0px;
    font-size: 20px;
    color: var(--secondary);
    text-decoration: none;
}