:root {
    --color-bg: rgb(26, 23, 33);
    --text-primary: rgb(255, 255, 255);
    --primary: rgb(244, 94, 255);
    --secondary: rgb(161, 152, 244);
}

@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

html {
    font-family: "Quicksand";
    color: var(--text-primary);
    background-color: var(--color-bg);
}

.homepage {
    margin: 15px;
}

.homepage-cards-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* General cards CSS */
.homepage-cards {
    background-color: rgb(74, 67, 90);
    padding: 10px;
    border-radius: 10px;
}

/* Specific to profile card */
.profile-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* The name part */
.name-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* Highliting name :3 */
.name-colorgradient {
    background-image: linear-gradient(to right, var(--secondary), var(--primary));
    color: transparent;
    font-weight: 700;
    background-clip: text;
}

.pfp {
    width: 128px;
    /* Circular pfp */
    /* border-radius: 64px; */
    border-radius: 10px;
}

.about-me-list {
    padding-left: 22px;
    margin-right: 28px;
}

li {
    padding-bottom: 5px;
}

.email-text {
    font-style: ;
}