.projects-md {
    padding: 2vw;
    margin-top: 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;

    justify-content: center;
}

/* .page-title {
    margin-bottom: 40px;
} */

.project-md-container {


    background-color: var(--card-bg1);
    display: flex;
    padding: 23px;

    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 40px;
    height: fit-content;

    border-radius: 15px;


}

@media only screen and (orientation: landscape) {
    .project-md-container {
        width: 70vw;
    }
}

@media only screen and (orientation: portrait) {
    .project-md-container {
        width: 85vw;
    }
}


.back-btn {
    /* margin-left: 70px; */
    color: var(--secondary);
    scale: 1.5;
}


/* Markdown CSS */
md-block>h1 {
    font-size: 32px;
    color: var(--primary);
    word-wrap: normal;

    max-width: 83vw;
}

md-block>h2 {
    font-size: 25px;
    word-wrap: normal !important;

    max-width: 83vw;
}

md-block>p {
    font-size: 25px;

    max-width: 83vw;
}

md-block>hr {
    max-width: 83vw;
}

md-block>p>img {
    max-width: 83vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* display: none; */
}