.projects-md {
    padding: 2vw;
    margin-top: 30px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;

    justify-content: center;
}

/* .page-title {
    margin-bottom: 40px;
} */

.project-md-container {


    background-color: var(--card-bg1);
    width: 70vw;
    display: flex;
    padding: 23px;

    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 40px;
    height: fit-content;

    border-radius: 15px;


}

.back-btn {
    /* margin-left: 70px; */
    color: var(--secondary);
    scale: 1.5;
}

/* Markdown CSS */
md-block>h1 {
    font-size: 32px;
    color: var(--primary);
}

md-block>h2 {
    font-size: 25px;
}

md-block>p {
    font-size: 20px;
}