:root {
    --color-bg: rgb(26, 23, 33);
    --text-primary: rgb(255, 255, 255);
    --primary: rgb(244, 94, 255);
    --secondary: rgb(161, 152, 244);

    --card-bg1: rgb(44, 38, 57);
    --header-bg: rgba(26, 23, 33, 0.905);
    /* --card-bg3: TODO */
    ;
    /* padding: 0;
    margin: 0; */
}

@font-face {
    font-family: Quicksand;
    src: url(/frontend/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}


html {

    font-family: "Quicksand";
    color: var(--text-primary);
    background-color: var(--color-bg);
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* ========== HEADER ========== */

header {

    background-color: var(--header-bg);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0;
    /* justify-content: space-evenly; */
    z-index: 9999;



}

.header-title {
    /* position: fixed; */
    /* left: 2vw; */
    margin: 0px;
    padding: 7px;
    padding-left: 2vw;
    font-size: 25px;
    color: var(--secondary);
    font-weight: 600;


}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-right: 2vw;

    right: 2vw;
}

.navbar>a {
    color: var(--secondary);
    transition: color 0.30s;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.navbar>*:hover {
    color: var(--primary) !important;
}


.PHONE-navbar-toggle {
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    align-self: center;
    scale: 1.5;
    color: var(--secondary);
    transition: color 0.2s;
    cursor: pointer;
    margin-right: 3px;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Phone Navbar */
.PHONE-navbar {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 255;
    background-color: var(--header-bg);
    margin-top: 45px;
    justify-content: center;
    /* gap: 15px; */
    flex-direction: column;

    box-shadow: 0 0 10px var(--color-bg);
}

.PHONE-navbar>a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 25px;


    width: 100vw;
    text-align: center;
    padding: 8px;
}

.PHONE-navbar>a:hover {
    background-color: var(--card-bg1);
}

.PHONE-blur-layer {
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(26, 23, 33, 0.886);
    /* backdrop-filter: blur(10px); */
    position: fixed;
    overflow-y: hidden;
    overscroll-behavior-block: contain !important;

    z-index: 2;
}

.PHONE-navbar-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10);
    transition: opacity 0.25s, transform 0.25s, visibility 0.25s linear;
}

.PHONE-navbar-wrapper.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.25s, transform 0.25s, visibility 0s;
}

.PHONE-snowflake {
    scale: 1.1;
}

/* ========== MAIN ========== */
.snow {
    height: 100vh;
}

.homepage {
    margin: 2vw;
    margin-top: 30px;
    overflow-y: scroll;
}

@media only screen and (orientation: landscape) {

    .PHONE-pfp {
        display: none;
    }

    .PHONE-navbar-toggle {
        display: none !important;
        position: absolute !important;
    }

    .homepage-cards {
        width: fit-content;
    }

    /* Align the navbar to the right when on landscape viewport */
    header {
        justify-content: space-between;
    }

    .flavourtown-devlogs-card {
        max-width: 30vw !important;
    }

    .PHONE-header-btns-wrapper {
        display: none;
    }

}

@media only screen and (orientation: portrait) {

    .pfp {
        display: none;
    }

    .PHONE-pfp {
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 10px;
        border-radius: 5px;
    }

    .PHONE-navbar-toggle {
        display: block;
        position: absolute;
    }

    .navbar {
        display: none;
    }

    .homepage-cards {
        width: 96vw !important;
    }


}

.homepage-cards-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

/* General cards CSS */
.homepage-cards {
    background-color: var(--card-bg1);
    padding: 10px;
    border-radius: 12px;
    /* width: fit-content; */
    max-width: 96vw;
    flex-grow: 1;
    /* box-shadow: 0 0 5px rgb(106, 101, 152); */

}


/* The name part */
.card-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.card-subtitle {
    margin-top: 5px;
}


/* ========== Navbar Mobile ========== */



/* ========== FOOTER ========== */

footer {
    /* display: block; */
    /* position: fixed; */
    bottom: 0;
    /* padding: 10px; */
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2px;
    border-top: solid var(--card-bg1);
    background-color: var(--color-bg);

    width: 96%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 2vw; */
}

.github-label {
    padding: 0px;
    font-size: 20px;
    color: var(--secondary);
    text-decoration: none;
}

/* ========== Stats Card ========== */

.hackatime-card {
    /* max-width: 100vw */
}

.total-time-area {
    color: var(--primary);
    font-weight: bold;

}

.hackatime-graph-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* margin-right: 20px; */
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width: 96%
}

.hackatime-graph-component {
    /* width: 100px; */
    height: 10px;
    background-color: red;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color: transparent;
    /* padding-bottom: 3px; */

    /* padding-top: 2px; */
}

/* .hackatime-graph-wrapper:first-of-type {
    border-radius: 7.5px;
} */

.hackatime-graph-component:hover {
    color: var(--text-primary);
}

.hackatime-graph-legend-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-evenly; */
}

.hackatime-graph-legend-icon::before {
    scale: 0.9;
    z-index: 0;
}

.hackatime-graph-legend-component-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    margin: 0px;
}

.hackatime-graph-legend-text {
    margin: 0px;
}


/* ========== Profile Card ========== */
/* Specific to profile card */
.profile-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* flex: 1; */
}

/* Highliting name :3 */
.name-colorgradient {
    background-image: linear-gradient(to right, var(--secondary), var(--primary));
    color: transparent;
    font-weight: 700;
    background-clip: text;
}

.pfp {
    height: auto;
    max-width: 128px;
    /* resize: both; */
    /* height: 128px; */
    margin-right: 15px;
    /* Circular pfp */
    /* border-radius: 64px; */
    border-radius: 20px;
    align-self: center;
}

.about-me-list {
    padding-left: 22px;
    margin-right: 28px;
}

li {
    padding: 0px;
    padding-top: 5px;
    font-size: 20px;
    overflow-wrap: normal;
}

.email-text {
    color: var(--secondary);
    transition: color 0.17s;
    margin-bottom: 0px;
}

.html5-icon {
    height: 20px;
    /* align-self: baseline; */
}

.email-text:hover {
    color: var(--primary);
}

/* ========== Flavour Town Devlogs Card ========== */

.devlog-area {
    color: var(--secondary);
    font-style: italic;
}

.devlog-timestamp-area {
    margin-bottom: 0;
}